@model BackEnd.Models.VideoViewModel

@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="row g-0">
    <div class="col-sm-6 col-md-8">
        <iframe style="margin-top:50px;margin-left:8px;" width="97%" height="415" src="@Model.Video.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen allow="autoplay"></iframe>

        <div class="row" style="margin-top:50px;margin-left:8px;">
            <div class="col-6">
                <h5 style="color:#6c7293">
                    Views: @Model.Video.VideoViews
                </h5>
                <p>@Model.Video.Title</p>
                <h3 style="color:#dbc9c9">
                    Comments
                </h3>
            </div>
            <div class="col-3">
                <i class="fa fa-thumbs-up" aria-hidden="true"> @Model.Video.Likes</i>
                <i class="fa fa-thumbs-down" aria-hidden="true" style="margin-left:20px;"> @Model.Video.Dislikes</i>
            </div>
            <div class="col-3">
                <i class="fa fa-download" aria-hidden="true">Download</i>
                <!-- Nút Lưu vào danh sách phát -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveToPlaylistModal">
                    Add to playlist
                </button>
            </div>
            @* <div class="comment-box">
                <form asp-controller="Comment" asp-action="AddComment" method="post" class="d-flex">
                    <div class="form-group" style="margin-left:5px;margin-right:10px">
                    <input asp-for="Comments." value="-1" type="hidden" class="form-control" />
                    <input asp-for="VideoId" value="@video.VideoId" type="hidden" class="form-control" />
            </div>
                    <textarea asp-for="Content" class="comment-input"></textarea>
                    <button type="submit" class="submit-button">Gửi</button>
                </form>
            </div> *@
            <div class="comment">
                <div class="row">
                    @* <div class="col-11">
                        <div class="d-flex" style="width:100%;">
                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <h5 style="margin-top:3px;margin-left:5px;">Nguyễn Ngọc Tiểu Thư</h5>
                        </div>
                        <p style="margin-left:45px;">Nhạc như cái qq</p>
                    </div>
                    <div class="col-1 clsss">
                        <i class="bi bi-pencil-square" style="margin-top:5px;"></i>
                        <i class="fa fa-trash" aria-hidden="true" style="margin-top:5px;"></i>
                    </div> *@
                    <div class="w-100 ms-3">
                        @if (Model.Comments != null)
                        {
                            foreach (var comment in Model.Comments)
                            {
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">@comment.AppUser.FullName</h6>
                                    <small>@comment.CommentPostingTime</small>
                                </div>
                                <span>@comment.Content</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="product__sidebar__comment">
            <div class="section-title" style="margin-top:30px;">
                <h5>Relate videos</h5>
            </div>
            @if (ViewBag.RelatedVideos != null)
            {
                @foreach (var relatedVideo in ViewBag.RelatedVideos)
                {
                    <div class="product__sidebar__comment__item">
                        <div class="product__sidebar__comment__item__pic">
                            <a href="@Url.Action("Video", "Home", new { id = relatedVideo.VideoId })">
                                <img style="width:90px;height:100px;border-radius:15px;" src="@relatedVideo.ThumbnailUrl" alt="">
                            </a>
                        </div>
                        <div class="product__sidebar__comment__item__text">
                            <h5><a href="@Url.Action("Video", "Home", new { id = relatedVideo.VideoId })">@relatedVideo.Title</a></h5>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="saveToPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="saveToPlaylistModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveToPlaylistModalLabel" style="color: black">Save in playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Danh sách các playlist hiện có -->
                @if (Model.Playlists != null)
                {
                    foreach (var playlist in Model.Playlists)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@playlist.PlaylistId" id="@playlist.PlaylistId">
                            <label class="form-check-label" for="@playlist.PlaylistId">
                                @playlist.PlaylistName
                            </label>
                        </div>
                    }
                }

                <!-- Form để thêm playlist mới -->
                <form id="newPlaylistForm">
                    <div class="form-group">
                        <label for="newPlaylistName">New playlist name</label>
                        <input type="text" class="form-control" id="playlistName" name="playlistName" placeholder="Enter new playlist name">
                    </div>
                    <!-- Trường ẩn chứa videoId -->
                    <input type="hidden" id="videoId" name="videoId" value="@Model.Video.VideoId">
                    <button type="button" class="btn btn-primary" style="margin-top: 5px;" id="addNewPlaylistButton">Add new playlist</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesButton">Save the chosen playlist</button>
            </div>
        </div>
    </div>
</div>

<style>
    .comment-box {
        width: 100%;
        height: 70px;
        position: relative;
    }

    .comment-input {
        width: calc(100% - 100px);
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .submit-button {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 90px;
        height: 40px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 17px;
    }

    .submit-button:hover {
        background-color: #0056b3;
    }

    i.fa.fa-thumbs-up {
        cursor: pointer;
    }

    i.fa.fa-thumbs-down {
        cursor: pointer;
    }

    .product__sidebar__comment {
        margin-bottom: 35px;
    }

    .product__sidebar__comment__item {
        margin-bottom: 20px;
        overflow: hidden;
    }

    .product__sidebar__comment__item__pic {
        float: left;
        margin-right: 15px;
    }

    .product__sidebar__comment__item__text {
        overflow: hidden;
    }

    .product__sidebar__comment__item__text ul {
        margin-bottom: 10px;
    }

    .product__sidebar__comment__item__text ul li {
        list-style: none;
        font-size: 10px;
        color: #ffffff;
        font-weight: 700;
        padding: 1px 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        display: inline-block;
    }

    .product__sidebar__comment__item__text h5 {
        margin-bottom: 10px;
    }

    .product__sidebar__comment__item__text h5 a {
        color: #ffffff;
        font-weight: 700;
        line-height: 26px;
    }

    .product__sidebar__comment__item__text span {
        display: block;
        font-size: 13px;
        color: #b7b7b7;
    }

    .mee {
        color: #fff;
        margin-top: 10px;
        margin-left: 20px;
    }
</style>

<!-- Thêm jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!--Nút xử lý sự kiện đóng/mở modal-->
<script>
    //Xử lý sự kiện mở modal
    $(document).ready(function () {
        $("#saveToPlaylistButton").click(function () {
            $("#saveToPlaylistModal").modal('show');
        });
    });

    //Xử lý sự kiện đóng modal
    $(document).ready(function () {
        $("#saveToPlaylistButton").click(function () {
            $("#saveToPlaylistModal").modal('hide');
        });
    });
</script>

<!--Nút thêm video vào ds phát-->
<script>
    $(document).ready(function () {
        // Khi người dùng nhấn nút "Lưu thay đổi"
        $('#saveChangesButton').click(function () {
            var videoId = $('#videoId').val();

            // Lấy tất cả các checkbox được chọn
            $('.form-check-input:checked').each(function () {
                var playlistId = $(this).val();

                // Gọi action AddVideoToPlaylist với videoId và playlistId
                $.ajax({
                    url: '/Playlist/AddVideoToPlaylist', // URL của action trong HomeController
                    type: 'POST',
                    data: {
                        playlistId: playlistId,
                        videoId: videoId
                    },
                    success: function (response) {
                        if (response.success) {
                            alert('Added video to playlist successfully!');
                        } else {
                            alert('Video already exists in the playlist!');
                        }
                    }
                });
            });
        });
    });
</script>

<!--Nút thêm ds phát-->
<script>
    $(document).ready(function () {
        // Khi người dùng nhấn nút "Add new playlist"
        $('#addNewPlaylistButton').click(function () {
            var videoId = $('#videoId').val();
            var playlistName = $('#playlistName').val();

            $.ajax({
                url: '/Playlist/CreatePlaylist',
                type: 'POST',
                data: {
                    videoId: videoId,
                    playlistName: playlistName
                },
                success: function (response) {
                    if (response.success) {
                        alert('Playlist added successfully!');
                    } else {
                        alert('Adding playlist failed!');
                    }
                }
            });
        });
    });
</script>