@model BackEnd.Models.VideoViewModel
@using System.Security.Claims

@{
    List<BackEnd.Models.Comment> commentlist = ViewBag.comments as List<BackEnd.Models.Comment>;
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="row g-0">
    <div class="col-sm-6 col-md-8">
        <iframe style="margin-top:50px;margin-left:8px;" width="97%" height="415" src="@Model.Video.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen allow="autoplay"></iframe>

        <div class="row" style="margin-top:50px;margin-left:8px;">
            <div class="col-6">
                <h5 style="color:#6c7293">
                    Views: @Model.Video.VideoViews
                </h5>
                <p>@Model.Video.Title</p>
                <h3 style="color:#dbc9c9">
                    Comments
                </h3>
            </div>
            <div class="col-3">
                <i id="like-button" class="fa fa-thumbs-up" aria-hidden="true" style="cursor: pointer;"> @Model.Video.Likes</i>
                <i class="fa fa-thumbs-down" aria-hidden="true" style="margin-left:20px;"> @Model.Video.Dislikes</i>
            </div>
            <div class="col-3">
                @* <i class="fa fa-download" aria-hidden="true">Download</i> *@
                <!-- Nút Lưu vào danh sách phát -->
                <i class="fa fa-play-circle" aria-hidden="true" data-toggle="modal" data-target="#saveToPlaylistModal"> Add to playlist</i>
            </div>
        </div>
        <div class="comment-box">
            <!-- Trường ẩn chứa videoId -->
            <input type="hidden" id="videoId" name="videoId" value="@Model.Video.VideoId">
            <textarea class="comment-input" id="commentContent" name="commentContent"></textarea>
            <!-- button post-->
            <button type="submit" class="submit-button" id="postComment">Post</button>
        </div>

        <div class="comment">
            <div class="row g-0 margin-top:8px d-flex">
                @if (Model.Comments != null)
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="col-12 d-flex" style="margin-top:15px">
                            <div class="d-flex" style="width:95%;">
                                <img class="rounded-circle flex-shrink-0" src="/Uploads/@(comment.AppUser.Avtprofile ?? "avtmacdinh.jpg")" alt="" style="width: 40px; height: 40px;">
                                <div class="block col-10" style="margin-left:20px;">
                                    <h5 style="margin-top:3px; margin-left:5px;">@(comment.AppUser.FullName ?? "User")</h5>
                                    <p style="margin-left:15px;">@comment.Content</p>

                                    <!-- Like Dislike Phản hồi -->
                                    <div style="display:flex">
                                        <i class="fa fa-thumbs-up" aria-hidden="true" style="cursor: pointer;margin-left:20px;"> 50N</i>
                                        <i class="fa fa-thumbs-down" aria-hidden="true" style="margin-left:20px;"></i>
                                        <p style="cursor: pointer; margin-left:15px;" class="feedbackuser">Phản hồi </p>
                                    </div>

                                    <!-- Người trả lời cmtt -->
                                    <p style="cursor: pointer; margin-left:50px;" class="feedback"><i class="bi bi-chevron-bar-down"></i>Số phản hồi </p>
                                    <div class="comments">
                                        <!-- Người trả lời cmtt 1 -->
                                        <div style="display:flex">
                                            <img class="rounded-circle flex-shrink-0" src="/Uploads/avtmacdinh.jpg" alt="" style="width: 40px; height: 40px;">
                                            <div class="block col-10" style="margin-left:20px;">
                                                <h5 style="margin-top:3px; margin-left:5px;">@(comment.AppUser.FullName ?? "User")</h5>
                                                <p style="margin-left:15px;">@comment.Content</p>
                                                <div style="display:flex">
                                                    <i class="fa fa-thumbs-up" aria-hidden="true" style="cursor: pointer;margin-left:20px;"> 50N</i>
                                                    <i class="fa fa-thumbs-down" aria-hidden="true" style="margin-left:20px;"></i>
                                                    <p style="cursor: pointer; margin-left:15px;" class="feedbackuser">Phản hồi </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Người trả lời cmtt 2 -->
                                        <div style="display:flex">
                                            <img class="rounded-circle flex-shrink-0" src="/Uploads/avtmacdinh.jpg" alt="" style="width: 40px; height: 40px;">
                                            <div class="block col-10" style="margin-left:20px;">
                                                <h5 style="margin-top:3px; margin-left:5px;">@(comment.AppUser.FullName ?? "User")</h5>
                                                <p style="margin-left:15px;">@comment.Content</p>
                                                <div style="display:flex">
                                                    <i class="fa fa-thumbs-up" aria-hidden="true" style="cursor: pointer;margin-left:20px;"> 50N</i>
                                                    <i class="fa fa-thumbs-down" aria-hidden="true" style="margin-left:20px;"></i>
                                                    <p style="cursor: pointer; margin-left:15px;" class="feedbackuser">Phản hồi </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cmtfeedback">
                                    <input type="hidden" id="videoId" name="videoId" value="@Model.Video.VideoId">
                                    <textarea class="comment-input feed" id="idcommentContent1" name="commentContent">Phản hồi cc</textarea>
                                    <button type="submit" class="submit-button btnan" id="updateComment1">Post</button>
                                    <button class="submit-button btnhuy" style="background-color:#e37272">Hủy</button>
                                </div>



                                <div class="commentan">
                                    @* @for (var i = 0; i < Model.Comments.Count; i++)
                            {
                            <input type="hidden" id="commentId" name="commentId" value="@Model.Comments[i].CommentId">

                            } *@
                                    <textarea class="comment-input cao" id="content-@comment.CommentId" name="commentContentMain">@comment.Content</textarea>
                                    <button type="submit" class="submit-button btnan" id="updateComment-@comment.CommentId" onclick="EditComment('@comment.CommentId')">Edit</button>
                                    <button class="submit-button btnhuy" style="background-color:#e37272">Cancel</button>

                                </div>

                                <div class="col-1 justify-content-start">
                                    <small style="margin-left:20px;">@comment.CommentPostingTime</small>
                                    @*<div class="form-group" style="margin-left:5px; margin-right:10px;">
                            <input value="@comment.CommentId" type="hidden" class="form-control" />
                            <input value="" type="hidden" class="form-control" />
                            </div> *@
                                    @if (comment.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
                                    {
                                    <div class="ngang" style="margin-left:19px;">
                                        @* Button update comment *@
                                        <button type="submit" class="editButton" style="border-radius:13px;">
                                            <div class="d-flex clsss">
                                                <i class="bi bi-pencil-square" style="padding:3px;"></i>
                                            </div>
                                        </button>

                                        @* Button delete comment *@
                                        <button type="submit" class="deleteButton" style="border-radius:13px;" data-toggle="modal" data-target="#confirmDeleteModal-@comment.CommentId">
                                            <div class="d-flex clsss">
                                                <i class="fa fa-trash" aria-hidden="true" style="padding:3px;"></i>
                                            </div>
                                        </button>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        @* <div class="comment-box col-1 d-inline"></div> *@

                        <!-- Modal xác nhận xóa comment -->
                        <div class="modal fade" id="confirmDeleteModal-@comment.CommentId" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmDeleteModalLabel" style="color: black;">Confirm deletion of comment</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this comment?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-danger" onclick="DeleteComment('@comment.CommentId')">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <!--Tab phải các video liên quan tới video hiện tại-->
    <div class="col-6 col-md-4">
        <div class="product__sidebar__comment">
            <div class="section-title" style="margin-top:30px;">
                <h5>Relate videos</h5>
            </div>
            @if (ViewBag.RelatedVideos != null)
            {
                @foreach (var relatedVideo in ViewBag.RelatedVideos)
                {
                    <div class="product__sidebar__comment__item">
                        <div class="product__sidebar__comment__item__pic">
                            <a href="@Url.Action("Video", "Home", new { videoId = relatedVideo.VideoId })">
                                <img style="width:90px;height:100px;border-radius:15px;" src="@relatedVideo.ThumbnailUrl" alt="">
                            </a>
                        </div>
                        <div class="product__sidebar__comment__item__text">
                            <h5><a href="@Url.Action("Video", "Home", new { videoId = relatedVideo.VideoId })">@relatedVideo.Title</a></h5>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<!-- Modal hiện các playlist và để tạo playlist mới-->
<div class="modal fade" id="saveToPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="saveToPlaylistModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveToPlaylistModalLabel" style="color: black">Save in playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Danh sách các playlist hiện có -->
                @if (Model.Playlists != null)
                {
                    foreach (var playlist in Model.Playlists)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="playlist" value="@playlist.PlaylistId" id="@playlist.PlaylistId">
                            <label class="form-check-label" for="@playlist.PlaylistId">@playlist.PlaylistName</label>
                        </div>
                    }
                }

                <!-- Form để thêm playlist mới -->
                <form id="newPlaylistForm">
                    <div class="form-group">
                        <label for="newPlaylistName">New playlist name</label>
                        <input type="text" class="form-control" id="playlistName" name="playlistName" placeholder="Enter new playlist name">
                    </div>
                    <!-- Trường ẩn chứa videoId -->
                    <input type="hidden" id="videoId" name="videoId" value="@Model.Video.VideoId">
                    <button type="button" class="btn btn-primary" style="margin-top: 5px;" id="addNewPlaylistButton">Add new playlist</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesButton">Save the chosen playlist</button>
            </div>
        </div>
    </div>
</div>

<style>
    .ngang {
        display: flex;
    }

    .comment-box {
        width: 100%;
        height: 70px;
        position: relative;
        margin-left: 10px;
    }

    .comment-input {
        width: calc(95% - 100px);
        height: 70%;
        padding-top: 0.5px;
        height: 55px !important;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 10px;
    }

    .cao {
        height: 35px !important;
    }

    .feed {
        height: 35px !important;
    }

    .comment-box {
        margin-bottom: 10px;
    }

    .submit-button {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 90px;
        height: 39px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 17px;
        margin-right: 30px !important;
        margin-bottom: 10px;
    }

        .submit-button:hover {
            background-color: #0056b3;
        }

    i.fa.fa-thumbs-up {
        cursor: pointer;
    }

    i.fa.fa-thumbs-down {
        cursor: pointer;
    }

    i.fa.fa-play-circle {
        cursor: pointer;
    }

    .product__sidebar__comment {
        margin-bottom: 35px;
    }

    .product__sidebar__comment__item {
        margin-bottom: 20px;
        overflow: hidden;
    }

    .product__sidebar__comment__item__pic {
        float: left;
        margin-right: 15px;
    }

    .product__sidebar__comment__item__text {
        overflow: hidden;
    }

        .product__sidebar__comment__item__text ul {
            margin-bottom: 10px;
        }

            .product__sidebar__comment__item__text ul li {
                list-style: none;
                font-size: 10px;
                color: #ffffff;
                font-weight: 700;
                padding: 1px 10px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 50px;
                display: inline-block;
            }

        .product__sidebar__comment__item__text h5 {
            margin-bottom: 10px;
        }

            .product__sidebar__comment__item__text h5 a {
                color: #ffffff;
                font-weight: 700;
                line-height: 26px;
            }

        .product__sidebar__comment__item__text span {
            display: block;
            font-size: 13px;
            color: #b7b7b7;
        }

    .mee {
        color: #fff;
        margin-top: 10px;
        margin-left: 20px;
    }

    .commentan {
        display: none;
        position: absolute;
        width: 40%;
        margin-left: 67px;
        margin-top: 15px;
    }

    .cmtfeedback {
        display: none;
        position: absolute;
        width: 40%;
        margin-left: 67px;
        margin-top: 94px;
    }

    .an {
        display: none;
    }

    .btnan {
        top: 4px !important;
    }

    .btnhuy {
        top: 4px !important;
        left: 600px;
    }

    .comments {
        display: none;
        margin-left: 50px;
    }

    p.feedbackuser {
        margin-top: -5px;
    }
</style>

<!-- Thêm jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!--Nút xử lý sự kiện đóng/mở modal-->
<script>
    //Xử lý sự kiện mở modal
    $(document).ready(function () {
        $("#saveToPlaylistButton").on('show.bs.modal', function () {
            $("#saveToPlaylistModal").modal('show');
        });
    });

    //Xử lý sự kiện đóng modal
    $(document).ready(function () {
        $("#saveToPlaylistButton").on('show.bs.modal', function () {
            $("#saveToPlaylistModal").modal('hide');
        });
    });
</script>

<!--Nút thêm video vào ds phát-->
<script>
    $(document).ready(function () {
        // Khi người dùng nhấn nút "Lưu thay đổi"
        $('#saveChangesButton').click(function () {
            var videoId = $('#videoId').val();

            // Lấy tất cả các radio button được chọn
            var selectedPlaylistId = $('.form-check-input:checked').val();

            // Gọi action AddVideoToPlaylist với videoId và playlistId
            $.ajax({
                url: '/Playlist/AddVideoToPlaylist', // URL của action trong HomeController
                type: 'POST',
                data: {
                    playlistId: selectedPlaylistId,
                    videoId: videoId
                },
                success: function (response) {
                    if (response.success) {
                        alert('Added video to playlist successfully!');
                    } else {
                        alert('Video already exists in the playlist!');
                    }

                    // Đóng modal
                    $('#saveToPlaylistModal').modal('hide');

                    // Làm mới trang
                    window.location.reload();
                }
            });
        });
    });
</script>

<!--Nút thêm ds phát-->
<script>
    $(document).ready(function () {
        // Khi người dùng nhấn nút "Add new playlist"
        $('#addNewPlaylistButton').click(function () {
            var videoId = $('#videoId').val();
            var playlistName = $('#playlistName').val();

            $.ajax({
                url: '/Playlist/CreatePlaylist',
                type: 'POST',
                data: {
                    videoId: videoId,
                    playlistName: playlistName
                },
                success: function (response) {
                    if (response.success) {
                        alert('Playlist added successfully!');
                    } else {
                        alert('Adding playlist failed!');
                    }

                    // Đóng modal
                    $('#saveToPlaylistModal').modal('hide');

                    // Làm mới trang
                    window.location.reload();
                }
            });
        });
    });
</script>

<!--Nút đăng bình luận-->
<script>
    $(document).ready(function () {
        // Khi người dùng nhấn nút "Post comment"
        $('#postComment').click(function () {
            var videoId = $('#videoId').val();
            var commentContent = $('#commentContent').val();

            $.ajax({
                url: '/Comment/AddComment',
                type: 'POST',
                data: {
                    videoId: videoId,
                    commentContent: commentContent
                },
                success: function (response) {
                    if (response.success) {
                        // Làm mới trang
                        window.location.reload();
                    } else {
                        alert('Adding comment failed!');
                    }
                }
            });
        });
    });
</script>

<!--Nút chỉnh sửa bình luận-->
<script>
    function EditComment(commentId) {
        $(`#updateComment-${commentId}`).click(function () {
            // var commentId = $('#commentId').val();
            console.log(commentId);
            var commentContent = $(`#content-${commentId}`).val();

            $.ajax({
                url: '/Comment/UpdateComment',
                type: 'PUT',
                data: {
                    commentId: commentId,
                    commentContent: commentContent
                },
                success: function (response) {
                    if (response.success) {
                        // Làm mới trang
                        window.location.reload();
                    } else {
                        alert('Edit comment failed!');
                    }
                }
            });
        });
    }
</script>

<!--Nút xóa bình luận -->
<script>
    function DeleteComment(commentId) {
            $.ajax({
                url: '/Comment/DeleteComment',
                type: 'DELETE',
                data: {
                    commentId: commentId
                },
                success: function (response) {
                    if (response.success) {
                        // Làm mới trang
                        window.location.reload();
                    } else {
                        // Làm mới trang
                        window.location.reload();
                    }

                    // Đóng modal
                    $(`#confirmDeleteModal-${commentId}`).modal('hide');
                }
            });
      
    }
</script>

<script>
    const editButtons = document.querySelectorAll(".editButton");
    const editedCommentInputs = document.querySelectorAll(".commentan");
    const edited = document.querySelectorAll(".ngang");

    editButtons.forEach((button, index) => {
        button.addEventListener("click", () => {
            editedCommentInputs[index].style.display = "block"; // Hiển thị ô văn bản chỉnh sửa
        });
        button.addEventListener("click", () => {
            edited[index].style.display = "none"; // Hiển thị ô văn bản chỉnh sửa
        });
    });
</script>

<script>
    const feedButtons = document.querySelectorAll(".feedbackuser");
    const feedCommentInputs = document.querySelectorAll(".cmtfeedback");

    feedButtons.forEach((button, index) => {
        button.addEventListener("click", () => {
            feedCommentInputs[index].style.display = "block"; // Hiển thị ô văn bản chỉnh sửa
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Chọn tất cả các nút "Hủy"
        var cancelButtons = document.querySelectorAll(".btnhuy");

        // Thêm sự kiện click cho mỗi nút "Hủy"
        cancelButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                // Chọn tất cả các phần tử có class "ngang"
                var ngangElements = document.querySelectorAll(".ngang");

                // Duyệt qua từng phần tử và hiển thị chúng
                ngangElements.forEach(function (element) {
                    element.style.display = "block";
                });

                // Ẩn phần tử cha của nút "Hủy" có class "commentan"
                this.closest(".commentan").style.display = "none";
            });
        });
    });
</script>

<script>
    const feedbackElements = document.querySelectorAll(".feedback");

    // Lặp qua từng phần tử và thêm sự kiện "click"
    feedbackElements.forEach((feedback) => {
        feedback.addEventListener("click", () => {
            // Lấy phần tử comments liền kề với phần tử feedback hiện tại
            const comments = feedback.nextElementSibling;

            // Kiểm tra và thay đổi trạng thái hiển thị của phần tử comments
            if (comments.style.display === "none" || comments.style.display === "") {
                comments.style.display = "block";
                feedback.querySelector("i").classList.replace("bi-chevron-bar-down", "bi-chevron-bar-up");
            } else {
                comments.style.display = "none";
                feedback.querySelector("i").classList.replace("bi-chevron-bar-up", "bi-chevron-bar-down");
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        let liked = false;

        $('#like-button').click(function () {
            let likes = parseInt($(this).text().trim());

            if (!liked) {
                likes += 1;
                $(this).css('color', 'blue');
            } else {
                likes -= 1;
                $(this).css('color', '');
            }

            $(this).text(' ' + likes);

            // Thay đổi trạng thái của nút like
            liked = !liked;

            // Bạn có thể gửi giá trị lượt like mới về server bằng AJAX nếu cần
            // $.ajax({
            //     url: '@Url.Action("UpdateLike", "YourController")',
            //     method: 'POST',
            //     data: { likes: likes, videoId: Model.Video.Id },
            //     success: function(response) {
            //         console.log("Likes updated successfully.");
            //     },
            //     error: function(error) {
            //         console.log("Error updating likes:", error);
            //     }
            // });
        });
    });
</script>